@import "../mixins/mixins.scss";

// --------FONT-SIZE-DESKTOP--------

$font-size-title-one: size(48);
$font-size-title-two: size(39);
$font-size-title-three: size(16);
$font-size-paragraph-text: size(16);
$font-size-menu-item: size(20);
$font-size-button: size(20);

// --------FONT-SIZE-IPAD-MINI--------

$fz-menu-item-ipad-mini: size(16);
$fz-title-ipad-mini: size(25);
$fz-main-title: size(39);

// --------FONT-SIZE-PHONE--------

$fs-item-phone: size(20);
$fs-title-phone-desktop: size(31);
$fs-title-phone: size(12);

// --------COLORS--------

// --------header--------

// $dark-theme: true !default;

$color-text-primary: #3a3b3c !default;
$color-text-secondary: #7b7b7b !default;

$color-background-primary: #fff !default;
$color-background-secondary: #fff7f4 !default;
$color-background-default: #fff !default;

$color-accent: #ff5300 !default;













// @if $dark-theme {

//     $color-text-primary: darken($color-text-primary, #fff);
//     $color-text-secondary: darken($color-text-secondary, #7b7b7b);

//     $color-background-primary: darken($color-background-primary, #3a3b3c);
//     $color-background-secondary: darken($color-background-secondary, #242526);
//     $color-background-default: darken($color-background-default, #18191a);

//     $color-accent: darken($color-accent, #ff5300);
// }






// @mixin theme-colors($light-theme: true) {
//   @if $light-theme {

//     $color-text-primary: #3a3b3c;
//     $color-text-secondary: #7b7b7b;

//     $color-background-primary: #fff;
//     $color-background-secondary: #fff7f4;
//     $color-background-default: #fff;

//     $color-accent: #ff5300;
//   } @else {

//     $color-text-primary: darken($primary-color, #fff);
//     $color-text-secondary: darken($primary-color, #7b7b7b);

//     $color-background-primary: darken($primary-color, #3a3b3c);
//     $color-background-secondary: darken($primary-color, #242526);
//     $color-background-default: darken($primary-color, #18191a);

//     $color-accent: #ff5300;
//   }
// }











// $color-text-primary: #fff;
//   $color-text-secondary: #7b7b7b;

//   $color-background-primary: #3a3b3c;
//   $color-background-secondary: #242526;
//   $color-background-default: #18191a;

//   $color-accent: #ff5300;

// --------footer--------
