@import "../mixins/mixins.scss";

// --------FONT-SIZE-DESKTOP--------

$font-size-title-one: size(48);
$font-size-title-two: size(39);
$font-size-title-three: size(16);
$font-size-paragraph-text: size(16);
$font-size-menu-item: size(20);
$font-size-button: size(20);

// --------FONT-SIZE-IPAD-MINI--------

$fz-menu-item-ipad-mini: size(16);
$fz-title-ipad-mini: size(25);
$fz-main-title: size(39);

// --------FONT-SIZE-PHONE--------

$fs-item-phone: size(20);
$fs-title-phone-desktop: size(31);

// --------COLORS--------

// --------header--------

$white-color: #fff;
$orange-color: #FF5300;
$orange-opasity-color: #ff5300e6;
$light-grey-color: #7B7B7B;
$dark-grey-color: #373737;
$skin-color: #FFF7F4;

// --------footer--------





