@import "../mixins/mixins.scss";

// --------FONT-SIZE-DESKTOP--------

$font-size-title-one: size(48);
$font-size-title-two: size(39);
$font-size-title-three: size(16);
$font-size-paragraph-text: size(16);
$font-size-menu-item: size(20);
$font-size-button: size(20);

// --------FONT-SIZE-IPAD-MINI--------

$fz-menu-item-ipad-mini: size(16);
$fz-title-ipad-mini: size(25);

// --------FONT-SIZE-PHONE--------

$fs-title-phone-desktop: size(31);

// --------COLORS--------

// --------header--------

// $color-text-background: #fff;
$white-color: #fff;
// $primary-color: #FF5300;
$orange-color: #FF5300;
// $paragraph-text-color: #7B7B7B;
$light-grey-color: #7B7B7B;
// $burger-item-color: #373737;
$dark-grey-color: #373737;

// --------footer--------





