@import "src/slick/slick.scss";
@import "src/variables/variables.scss";
@import "../styleComponents/header.scss";
@import "../styleComponents/footer.scss";
@import "../styleComponents/hero.scss";
@import "../styleComponents/about.scss";
@import "../styleComponents/expereince.scss";
@import "../styleComponents/people.scss";
@import "../styleComponents/project.scss";
@import "../styleComponents/feedback.scss";
@import "../styleComponents/blog.scss";
@import "../styleComponents/contact.scss";
@import "../styleComponents/brands.scss";
@import "../styleComponents/map.scss";
@import "../mixins/mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  --color-text-primary: #3a3b3c;
  --color-text-secondary: #7b7b7b;
  
  --color-background-primary: #fff;
  --color-background-secondary: #fff7f4;
  --color-background-default: #fff;
  
  --color-accent: #ff5300;
  --color-accent-hover: rgb(255, 83, 0, 0.7);

  background-color: var(--color-background-default);
}



.dark-theme {
  --color-text-primary: #fff;
  --color-text-secondary: #7b7b7b;

  --color-background-primary: #3a3b3c;
  --color-background-secondary: #242526;
  --color-background-default: #18191a;

  --color-accent: #ff5300;

}

h1,h2,h3,h4 {
  color: var(--color-text-primary);
}

ul, li {
  list-style: none;
  padding: 0;
}

.container {
  width: 100%;
  max-width: size(1224);
  margin: 0 auto;
}

.common-button {
  padding: size(12) size(20);
  font-size: $font-size-button;
  color: #fff;
  font-weight: 500;
  background-color: var(--color-accent);
  border-radius: 5px;
  border: 0;
}

.section-little-title {
  font-size: $font-size-title-three;
  color: var(--color-text-secondary);
  font-weight: 400;
}

.main-title-words {
  color: var(--color-accent);
}

a {
  text-decoration: none;
}

button {
  border: 0;
}
