%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-arrow-top {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-arrow-top-dims {
	width: 34px;
	height: 34px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 98.9010989010989% 44.067796610169495%;
}

.svg-facebook-dims {
	width: 11px;
	height: 20px;
}

.svg-footer-logo {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-footer-logo-dims {
	width: 159px;
	height: 38px;
}

.svg-header-logo-dark {
	@extend %svg-common;
	background-position: 0 38%;
}

.svg-header-logo-dark-dims {
	width: 159px;
	height: 38px;
}

.svg-header-logo-light {
	@extend %svg-common;
	background-position: 0 76%;
}

.svg-header-logo-light-dims {
	width: 159px;
	height: 38px;
}

.svg-instagram {
	@extend %svg-common;
	background-position: 91.90751445086705% 61.86440677966102%;
}

.svg-instagram-dims {
	width: 20px;
	height: 20px;
}

.svg-logo-mobile {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-logo-mobile-dims {
	width: 100px;
	height: 24px;
}

.svg-newsletter {
	@extend %svg-common;
	background-position: 92.44186046511628% 44.44444444444444%;
}

.svg-newsletter-dims {
	width: 21px;
	height: 21px;
}

.svg-skype {
	@extend %svg-common;
	background-position: 91.90751445086705% 78.8135593220339%;
}

.svg-skype-dims {
	width: 20px;
	height: 20px;
}

.svg-sun-dark {
	@extend %svg-common;
	background-position: 91.90751445086705% 95.76271186440678%;
}

.svg-sun-dark-dims {
	width: 20px;
	height: 20px;
}

.svg-sun-light {
	@extend %svg-common;
	background-position: 57.80346820809248% 96.61016949152543%;
}

.svg-sun-light-dims {
	width: 20px;
	height: 20px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 92.98245614035088% 28.333333333333332%;
}

.svg-twitter-dims {
	width: 22px;
	height: 18px;
}

